@import '~bootstrap/scss/bootstrap';

body {
  align-items: center;
  text-align: center;
  background-color: white;
}

#resume {
  display: flex;
  justify-content: center;
}

#footer {
  padding-right: 30px;
  text-align: right;
  justify-content: flex-end;
  height: auto;
}
